.services_box {

    border: 1px solid black;
    width: 49%;
    border-radius: 40px;
    box-shadow: 0 6px 0 black;
    height: 300px;
    padding: 40px;
    display: flex;
    gap: 20px
}

.service_content {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service_img {

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_button {

    display: flex;
    gap: 14px;
    align-items: center;
}

.service_button-icon {

    font-size: 30px;
    color: var(--Primary_Color);

}

.arrow_btn {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--Primary_Color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow_btn i {

    font-size: 18px;
    color: var(--Black);   
    transform: rotate(45deg);
    background: transparent;
}

.service_img img{

    object-fit: cover;
}

.grey_cstm {

    background-color: var(--Grey);
}

.black_primary_cstm {

    color: var(--Black);
    background: var(--Primary_Color);
}