.icondiv {

    display: flex;
    align-items: center;
    gap: 8px;
}

.custom-icon {

    width: 30px; 
    height: 30px; 
    object-fit: cover;
}

.header_div {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.header_div.scrolled {

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.header-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.custom-anchordiv {

    display: flex;
    align-items: center;
    gap: 30px;
}

.custom-anchordiv a {

    text-decoration: none;
    color: var(--Black);
    font-weight: 500;
    cursor: none;
}

.custom-bars {

    display: none;
    color: var(--Black);
}

.sidebaractive {

    display: none
}

.sidebarinactive {

    display: block 
}
.overlay_sidebar {

    display: none;
}

.sidebar {

    display: none;
}


@media screen and (max-width: 991px) {

    .overlay_sidebar {

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: block;
    }

    .sidebar {

        
        position: fixed;
        top: 0px;
        Left: 0px;
        width: 250px;
        height: 100%;
        z-index: 1000;
        display: block;
        background-color: var(--Primary_Color);
    }

    .custom-anchordiv {

        display: none;
    }

    .custom-bars {

        display: block;
        cursor: pointer;
        user-select: none;
    }

    .header_div {

        height: 60px;
    }
    
    .header-container {

        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 575px) {

    .container-width {

        padding: 0px 15px;
    }
}