.containerdiv {

  margin-top: 80px; 
  padding: 55px 0px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.home_firstsection {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.home_first_Contentsec {

    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}

.home_firstsection_img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home_first_Imagesec {

    width: 35%;
}

.bookaconsclass {

    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigatecontent {

    font-size: 56px;
    font-weight: 500;
}

.home_firstsection_img_navigate {

    display: none;
}

.second_section_div {

    width: 100%;
    overflow: hidden;
}

.logo_track {

    display: flex;
    width: max-content;
    gap: 50px;
    animation: slide 12s linear infinite;
}

.logo_image {
    width: 120px;
    height: 50px;
    object-fit: contain;
    flex-shrink: 0;
}

.logo_track:hover {

    animation-play-state: paused;
}

.service-content {

    padding: 10px;
    background-color: var(--Primary_Color);
    border-radius: 10px;
}

.third_section_div {

    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.fourth_section_div {

    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between
}

.service_details p {

    display: inline-block;
}

@media screen and (max-width: 1300px) {

    .home_first_Imagesec {

        width: 41%;
    }
}

@media screen and (max-width: 1124px) {

    .home_first_Imagesec {

        width: 38%;
    }

    .navigatecontent {

        font-size: 46px;
    }
}

@media screen and (max-width: 1021px) {

    .home_first_Imagesec {

        width: 42%;
    }

    .navigatecontent {

        font-size: 46px;
    }
}


@media screen and (max-width: 991px) {

    .containerdiv {

        margin-top: 60px; 
        padding: 30px 20px; 
        gap: 30px;
    }

    .home_first_Imagesec {

        width: 284px;
    }

    .navigatecontent {

        font-size: 36px;
    }
    

    .home_firstsection_img {
        
        width: 281px;
        height: 250px;
    }

    .home_first_Contentsec {

        width: 55%;
    }
}

@media screen and (max-width: 767px) {

    .containerdiv {

        margin-top: 60px; 
        padding: 20px; 
        gap: 20px;
    }

    .home_first_Imagesec {

        display: none;
    }

    .home_firstsection_img_navigate {

        display: block;
        width: 350px;
        height: 300px;
        object-fit: cover;
        margin: auto;
    }

    .home_first_Contentsec {

        width: 100%;
    }

    .navigatecontent {

        font-size: 32px;
    }

    .bookaconsclass {

        width: 100%;
    }
}

@media screen and (max-width: 575px) {

    .containerdiv {

        padding: 15px; 
        gap: 15px;
    }

    .navigatecontent {

        font-size: 18px;
    } 

    .home_firstsection_img_navigate {

        width: 250px;
        height: 210px;
    }

    .logo_track {

        gap: 30px;
    }

    .logo_image {
        width: 80px;
        height: 30px;
    }

    .third_section_div {

        gap: 15px;
    }
}

@keyframes slide {

    from {

        transform: translateX(0);
    }

    to { 

        transform: translateX(-50%);
    }
}