.buttondiv {

    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer !important;
    border-color: var(--Black);
    border: 1px solid var(--Black);
    transition: all 0.4s ease-in-out;
    text-decoration: none !important;

}

.buttondiv:hover {

    box-shadow: inset 0px 70px 0px 0px var(--Primary_Color);
    color: var(--Black);
}

.buttondivclr {

    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer !important;
    border-color: var(--Black);
    border: 1px solid var(--Black);
    background-color: var(--Black);
    color: white !important;
    transition: all 0.4s ease-in-out;
    text-decoration: none !important;
}

.buttondivclr:hover {

    box-shadow: inset 0px 70px 0px 0px whitesmoke;
    color: var(--Black) !important;
}

@media screen and (max-width: 768px) {

    .buttondiv, .buttondivclr {

        padding: 10px 14px;
        font-size: 12px !important;
    }
}   


@media screen and (max-width: 575px) {

    .buttondiv, .buttondivclr {

        padding: 8px 12px;
        border-radius: 8px;
        font-size: 10px !important;
    }
}   



